<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814632760316-v0tpdt0b0mqln6tbl0f8egud6203vcjf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814632760316-v0tpdt0b0mqln6tbl0f8egud6203vcjf</string>
	<key>API_KEY</key>
	<string>AIzaSyBxlQ12l8nTbpwBqaK-eyVD9FlJiLsyARg</string>
	<key>GCM_SENDER_ID</key>
	<string>814632760316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>inc.Buildshop</string>
	<key>PROJECT_ID</key>
	<string>buildshop-162809</string>
	<key>STORAGE_BUCKET</key>
	<string>buildshop-162809.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814632760316:ios:33fe2f8f284d76238ff879</string>
</dict>
</plist>